@import 'common.scss';

.container {
  max-width: 70rem;
  margin: 0 auto;
}

label {
  display: block;
}

textarea {
  width: 100%;
  font-size: 2rem;
  height: 8rem;
}

button {
  font-size: 2rem;
  padding: 0.5rem 1rem;
}

h2 {
  margin: 2rem 0;
}

content {
  font-size: 2rem;
}
